<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/members_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/generic_styles.css') }}">
        <link rel="shortcut icon" href=" ">
        <link rel="apple-touch-icon" href=" ">
        <link rel="icon" sizes="192x192" href=" ">
        <title> About Us </title>
    </head>
    <body>
        <header>
            <h1> About Us </h1> 
            <!-- <img src=" " class="logo"> -->
        </header>
        <nav class="sitenavigation">
            <p><a href="/">Home</a></p>
            <p><a href="/contact_us">Contact Us</a></p>
        </nav>
        <main class="content">
           <p>Test</p>
        </main>
        <footer>
            <p>  </p>
        </footer>
    </body>
</html>