<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/contact_styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/generic_styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/UpliftFavIcon.png') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/UpliftFavIcon.png') }}">
        <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/UpliftFavIcon.png') }}">
        <title> Contact Us </title>
    </head>
    <body>
        <header>
            <img src="{{ url_for('static', filename='images/UpliftHeader.png') }}" class="logo">
        </header>
        <nav class="sitenavigation">
            <p><a href="/">Home</a></p>
            <p><a href="/about_us">About Us</a></p>
        </nav>
        <main class="content">
            <form action="/contact" method="POST">
                <div>
                    <p>Name</p>
                    <input
                        type="name"
                        id=""name"
                        name="name"
                        placeholder="Your full name"
                        required
                    >
                </div>
                <div>
                    <p>Phone Number</p>
                    <input
                        type="tel"
                        id="phone"
                        name="phone"
                        placeholder="(xxx)-xxx-xxxx"
                    >
                </div>
                <div>
                    <p>Email Address</p>
                    <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="youremail@email.com"
                        required
                    >
                </div>
                <div>
                    <p>Comments</p>
                    <textarea
                        id="comments"
                        name="comments"
                        rows="5"
                        placeholder="Write your message here..."
                        required></textarea>
                </div>
                <button>Send</button>
            </form>
        </main>
        <footer>
            <p> </p>
        </footer>
    </body>
</html>