form {
    max-width: none;
    padding: 10px;
    margin: 1em auto;
    text-align: center;
    background-color: white;
}

form div input, form div textarea {
    max-width: 100%;
    width: 90vw;
    border: 5px solid rgb(6, 16, 104);
    border-radius: 10px;
    padding: 0.4em;
}

button {
    margin-top: 1em;
}

#comments {
    height: 100px;
    resize: none;
    overflow: scroll;
}
